/tests/.phpunit.result.cache
/tests/.phpunit.cache
/tests/.sandbox
/tools/phpstan/build
/.php-cs-fixer.cache
/.php-cs-fixer.php
/composer.lock
/tests/phpunit.xml
/vendor/
/.idea/
/build/
*.swp
*.swo
.ai/agenteq.json
.claude
CLAUDE.md
.claude/skills
