/.ai               export-ignore
/art               export-ignore
/docs              export-ignore
/tests             export-ignore
/tools             export-ignore
/scripts           export-ignore
/.github           export-ignore
/.php_cs           export-ignore
.editorconfig      export-ignore
.gitattributes     export-ignore
.gitignore         export-ignore
peck.json          export-ignore
CHANGELOG.md       export-ignore
CONTRIBUTING.md    export-ignore
README.md          export-ignore
release-please-config.json      export-ignore
.release-please-manifest.json   export-ignore
